<launch>
    <!-- <arg name="robot_type" default="$(env ROBOT_TYPE)" doc="Robot type [standard, hero, engineer]"/> -->
    <arg name="robot_type" default="hero"/>
    <arg name="load_chassis" default="true"/>
    <arg name="load_gimbal" default="true"/>
    <arg name="load_shooter" default="true"/>
    <arg name="load_arm" default="true"/>
    <arg name="roller_type" default="simple" doc="simple or realistic"/>

    <!-- 启动Gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- <arg name="world_name" value="$(find rm_description)/world/kf_place.world"/> -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <!-- <arg name="gui" value="true"/> -->
        <!-- <arg name="headless" value="false"/> -->
        <!-- <arg name="debug" value="false"/> -->
    </include>

    <rosparam file="$(find rm_gazebo)/config/mimic_joint.yaml" command="load"/>

    <param name="robot_description" command="$(find xacro)/xacro $(find rm_description)/urdf/$(arg robot_type)/$(arg robot_type).urdf.xacro
         load_chassis:=$(arg load_chassis) load_gimbal:=$(arg load_gimbal) load_shooter:=$(arg load_shooter)
         load_arm:=$(arg load_arm)
         use_simulation:=true roller_type:=$(arg roller_type)
"/>

    <!-- 发送关节状态 -->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="true"/>
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="50.0"/>
    </node>

    <!-- 将机器人模型加载到Gazebo中 -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-urdf -param robot_description -model $(arg robot_type) -x 0.5 -y 0.5 -z 0.2"/>

    <!-- 启动RViz并加载配置 -->
    <node pkg="rviz" type="rviz" name="rviz" 
          args="-d $(find rm_description)/rviz/test.rviz"/>

</launch>
