<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="daikfs">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.025 7.55196407650176 0.167485885634258"
        rpy="0 0 0" />
      <mass
        value="33516.9811175371" />
      <inertia
        ixx="41311.677170494"
        ixy="-2.02652143387038E-11"
        ixz="-9.88785288893122E-13"
        iyy="65348.333008843"
        iyz="-266.198195272756"
        izz="105734.900141019" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="3.025 0.0899299276190646 2.1"
        rpy="0 0 0" />
      <mass
        value="2300.00896" />
      <inertia
        ixx="283.290308175557"
        ixy="6.73881767157877E-15"
        ixz="1.66742670831745E-14"
        iyy="551.233941162667"
        iyz="3.25274865744309E-15"
        izz="283.290308175557" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.16078431372549 0.32156862745098 0.0627450980392157 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink1"
    type="fixed">
    <origin
      xyz="9.05 3.8 0.00980000000000023"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="4.225 0.189929927619065 1.6"
        rpy="0 0 0" />
      <mass
        value="6900.02688" />
      <inertia
        ixx="918.871193326671"
        ixy="-1.63362130547516E-14"
        ixz="-8.46639839403498E-15"
        iyy="1653.701823488"
        iyz="-3.4501726677427E-14"
        izz="918.87119332667" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.164705882352941 0.443137254901961 0.219607843137255 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink2"
    type="fixed">
    <origin
      xyz="10.25 3.8 0.00980000000000023"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="1.825 0.289929927619065 0.6"
        rpy="0 0 0" />
      <mass
        value="3450.01344" />
      <inertia
        ixx="516.935820663336"
        ixy="2.54795978697284E-15"
        ixz="4.27090952664563E-14"
        iyy="826.850911744001"
        iyz="-2.19639925994678E-14"
        izz="516.935820663336" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.596078431372549 0.650980392156863 0.313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink3"
    type="fixed">
    <origin
      xyz="7.85 5 0.00980000000000031"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-2.71653146810334 0.210989959593486 0.0575670380800792"
        rpy="0 0 0" />
      <mass
        value="6125.25" />
      <inertia
        ixx="3425.2331149175"
        ixy="-57.0341020647116"
        ixz="1249.75282895341"
        iyy="19504.160145407"
        iyz="-10.2293028728419"
        izz="16291.1884747545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.996078431372549 0.729411764705882 0.63921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink4"
    type="fixed">
    <origin
      xyz="6.025 10.75 -0.0401999999999993"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="2.71653146810334 0.210989959593486 0.0575670380800783"
        rpy="0 0 0" />
      <mass
        value="6125.25" />
      <inertia
        ixx="3425.2331149175"
        ixy="57.0341020647115"
        ixz="-1249.75282895341"
        iyy="19504.160145407"
        iyz="-10.2293028728418"
        izz="16291.1884747545" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.505882352941176 0.823529411764706 0.83921568627451 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink5"
    type="fixed">
    <origin
      xyz="6.025 10.75 -0.0401999999999993"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-4.525 0.123333333333334 -1"
        rpy="0 0 0" />
      <mass
        value="900" />
      <inertia
        ixx="120.5"
        ixy="-3.21212963635039E-14"
        ixz="-3.46944695195361E-15"
        iyy="281.25"
        iyz="15"
        izz="176.75" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.741176470588235 0.713725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink6"
    type="fixed">
    <origin
      xyz="10.55 9.3 0.00980000000000057"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-1.775 -0.00989999999999996 1.77635683940025E-15"
        rpy="0 0 0" />
      <mass
        value="0.17999999999998" />
      <inertia
        ixx="0.00135000059999985"
        ixy="-1.37753244236987E-37"
        ixz="7.73252989416785E-19"
        iyy="0.0350999999999961"
        iyz="-8.27180612553027E-23"
        izz="0.0337500005999963" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink7"
    type="fixed">
    <origin
      xyz="4.25 9.65 0.409800000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link8">
    <inertial>
      <origin
        xyz="-2.04689273315054E-14 0.0499999999999999 0.137990936555892"
        rpy="0 0 0" />
      <mass
        value="49.6499999999993" />
      <inertia
        ixx="0.247721073498422"
        ixy="4.37682485740497E-15"
        ixz="1.36318523894943E-14"
        iyy="309.047939823493"
        iyz="-3.23563530701184E-17"
        izz="308.882968749995" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link8.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.392156862745098 0.243137254901961 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link8.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink8"
    type="fixed">
    <origin
      xyz="6.025 9.45 0.399800000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link8" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link9">
    <inertial>
      <origin
        xyz="0.993939393939435 -0.258384848484859 -6.85757575757605"
        rpy="0 0 0" />
      <mass
        value="0.527999999999978" />
      <inertia
        ixx="0.0401600017599982"
        ixy="1.76465197344646E-22"
        ixz="-2.56068314700523E-19"
        iyy="0.0803199999999963"
        iyz="8.82325986723231E-23"
        izz="0.0401600017599982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link9.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.874509803921569 0.133333333333333 0.133333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link9.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink9"
    type="fixed">
    <origin
      xyz="11.55 11.5 0.409800000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link9" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link10">
    <inertial>
      <origin
        xyz="-0.993939393939436 -0.258384848484859 -6.85757575757605"
        rpy="0 0 0" />
      <mass
        value="0.527999999999978" />
      <inertia
        ixx="0.0401600017599982"
        ixy="8.8232598672323E-23"
        ixz="5.26662047306559E-20"
        iyy="0.0803199999999964"
        iyz="4.59177480789956E-38"
        izz="0.0401600017599982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link10.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.196078431372549 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link10.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink10"
    type="fixed">
    <origin
      xyz="0.500000000000001 11.5 0.409800000000001"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link10" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link11">
    <inertial>
      <origin
        xyz="1.77635683940025E-15 -0.00999999999999956 0.00499999999999989"
        rpy="0 0 0" />
      <mass
        value="55.9999999999988" />
      <inertia
        ixx="2.28713333333328"
        ixy="0"
        ixz="-3.34223389704858E-17"
        iyy="298.667133333327"
        iyz="1.65955212535108E-18"
        izz="300.953333333327" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link11.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.35" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link11.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink11"
    type="fixed">
    <origin
      xyz="6.025 9.44 0.4598"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link11" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link12">
    <inertial>
      <origin
        xyz="4.44089209850063E-16 0.015 0"
        rpy="0 0 0" />
      <mass
        value="622.6875" />
      <inertia
        ixx="218.200078125"
        ixy="-2.24820162486594E-16"
        ixz="2.67756708009307E-14"
        iyy="2133.12629882812"
        iyz="0"
        izz="1915.18567382812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link12.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.980392156862745 0.862745098039216 0.854901960784314 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link12.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink12"
    type="fixed">
    <origin
      xyz="9.0625 0.975000000000001 -0.0401999999999999"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link12" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link13">
    <inertial>
      <origin
        xyz="-4.44089209850063E-16 0.015 0"
        rpy="0 0 0" />
      <mass
        value="622.6875" />
      <inertia
        ixx="218.200078125"
        ixy="2.24820162486594E-16"
        ixz="5.31179787655045E-14"
        iyy="2133.12629882812"
        iyz="0"
        izz="1915.18567382812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link13.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.780392156862745 0.886274509803922 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link13.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink13"
    type="fixed">
    <origin
      xyz="2.9875 0.975000000000001 -0.0401999999999999"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link13" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link14">
    <inertial>
      <origin
        xyz="-5.24200090557968E-16 0.240006966611985 -8.88178419700125E-16"
        rpy="0 0 0" />
      <mass
        value="180.004750088092" />
      <inertia
        ixx="25.3508855513742"
        ixy="-2.19667882595473E-17"
        ixz="1.29896093881143E-15"
        iyy="22.9505541983194"
        iyz="4.8477575950388E-16"
        izz="5.10033137443016" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link14.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.607843137254902 0.372549019607843 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link14.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink14"
    type="fixed">
    <origin
      xyz="6.025 0.950000000000001 0.00980000000000006"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link14" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link15">
    <inertial>
      <origin
        xyz="3.425 0.139757217556369 0.0344546158415762"
        rpy="0 0 0" />
      <mass
        value="8.45683075417978" />
      <inertia
        ixx="0.239478557028983"
        ixy="5.77409475631971E-16"
        ixz="6.29943850145463E-17"
        iyy="0.929187431006892"
        iyz="0.00987857660056839"
        izz="1.11192107249194" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link15.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.607843137254902 0.372549019607843 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link15.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink15"
    type="fixed">
    <origin
      xyz="9.45 0.16 0.01"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link15" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link16">
    <inertial>
      <origin
        xyz="1.33226762955019E-15 0.015 -1.11022302462516E-15"
        rpy="0 0 0" />
      <mass
        value="2262.9375" />
      <inertia
        ixx="10467.028828125"
        ixy="8.99280649946375E-16"
        ixz="2.92266211232572E-13"
        iyy="17426.1509472656"
        iyz="0"
        izz="6960.06500976563" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link16.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.925490196078431 0.635294117647059 0.592156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link16.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink16"
    type="fixed">
    <origin
      xyz="9.0625 5.725 -0.0401999999999996"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link16" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link17">
    <inertial>
      <origin
        xyz="1.33226762955019E-15 0.015 -1.0547118733939E-15"
        rpy="0 0 0" />
      <mass
        value="2262.9375" />
      <inertia
        ixx="10467.028828125"
        ixy="8.99280649946375E-16"
        ixz="2.92266211232572E-13"
        iyy="17426.1509472656"
        iyz="0"
        izz="6960.06500976563" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link17.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.749019607843137 0.819607843137255 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link17.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink17"
    type="fixed">
    <origin
      xyz="2.9875 5.725 -0.0401999999999996"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link17" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link18">
    <inertial>
      <origin
        xyz="4.44743762631279E-14 0.440725108161428 7.73679022361363"
        rpy="0 0 0" />
      <mass
        value="963.834256694668" />
      <inertia
        ixx="11208.9430841405"
        ixy="7.44402865652716E-13"
        ixz="2.51711451805192E-11"
        iyy="23649.1922935036"
        iyz="-230.74946810367"
        izz="12489.4389121132" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link18.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link18.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ink18"
    type="fixed">
    <origin
      xyz="6.025 1.97 0.00980000000000012"
      rpy="1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link18" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link19">
    <inertial>
      <origin
        xyz="5.55111512312578E-17 0.175 0"
        rpy="0 0 0" />
      <mass
        value="42.875" />
      <inertia
        ixx="0.875364583333332"
        ixy="3.15517288222248E-17"
        ixz="4.33305012241074E-17"
        iyy="0.875364583333333"
        iyz="-3.52958403245416E-17"
        izz="0.875364583333332" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link19.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link19.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="fake"
    type="fixed">
    <origin
      xyz="1.625 5 0.3748"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="Link19" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link20">
    <inertial>
      <origin
        xyz="0.400000000000001 0.375 -0.800000000000001"
        rpy="0 0 0" />
      <mass
        value="128.625" />
      <inertia
        ixx="2.62609375"
        ixy="-3.11686943565236E-17"
        ixz="-3.1361082712215E-16"
        iyy="2.62609375"
        iyz="1.15695069265638E-16"
        izz="2.62609375" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link20.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link20.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R1KFS"
    type="fixed">
    <origin
      xyz="3 3.8 0.1998"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link20" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Link21">
    <inertial>
      <origin
        xyz="-1.5 0.175 0.299999999999999"
        rpy="0 0 0" />
      <mass
        value="171.5" />
      <inertia
        ixx="3.50145833333333"
        ixy="-7.90758937573781E-17"
        ixz="1.25676023540804E-16"
        iyy="3.50145833333333"
        iyz="-4.07553440426878E-17"
        izz="3.50145833333333" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link21.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://daikfs/meshes/Link21.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R2"
    type="fixed">
    <origin
      xyz="1.8 6.2 0.7498"
      rpy="-1.5707963267949 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="Link21" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>